#imagerecettes {
    width: 150px;
    height: 120px;
}


.list-disc {
    list-style-type: none !important;
    padding-left: 0 !important;
}

#popup-ingredients {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important; 
    gap: 10px !important; 
}


#popup-ingredients li {
    display: flex !important;
    align-items: center !important; 
    gap: 10px !important; 
}

.ingredient-checkbox {
    margin-right: 10px !important;
}


@media (max-width: 1024px) {
    ul {
        gap: 8px !important; 
    }
    
    li {
        display: block !important; 
    }

    .w-12, .h-12 {
        width: 24px !important;
        height: 24px !important; 
    }
}

@media (max-width: 500px) {
    nav {
        flex-direction: column !important;
        align-items: center !important;
    }

    ul {
        flex-direction: column !important;
        gap: 10px !important;
    }

    li {
        display: flex !important;
        justify-content: center !important;
    }

    .w-12, .h-12 {
        width: 30px !important;
        height: 30px !important ; 
    }

    .text-3xl {
        font-size: 1.8rem !important;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 2rem 1rem !important; 
    }

    .text-3xl {
        font-size: 1.5rem !important; 
    }

    ul {
        gap: 5px !important;
    }

    .w-12, .h-12 {
        width: 24px !important;
        height: 24px !important; 
    }
}